<form [formGroup]="form">
  <div class="form-row">

    <div class="form-group small-control col-auto">
      <label for="filter-type">Type: </label>
      <select id="filter-type" class="custom-select" formControlName="type">
        <option value="">All</option>
        <option *ngFor="let carType of typeOptions" [value]="carType">{{ carType }}</option>
      </select>
    </div>

    <div class="form-group small-control col-auto">
      <label for="filter-brand">Brand: </label>
      <select id="filter-brand" class="custom-select" formControlName="brand">
        <option value="">All</option>
        <option *ngFor="let brand of brandOptions" [value]="brand">{{ brand }}</option>
      </select>
    </div>

    <div class="form-group small-control col-auto">
      <label for="filter-model">Model: </label>
      <select id="filter-model" class="custom-select" formControlName="model">
        <option value="">All</option>
        <option *ngFor="let model of modelOptions" [value]="model">{{ model }}</option>
      </select>
    </div>

    <div class="form-group large-control col-auto">
      <div>
        <label for="filter-price-range">Price Range:</label>
      </div>
      <div id="filter-price-range" class="input-group" role="group">
        <input type="number" class="form-control" placeholder="Min. price" formControlName="minPrice" min=1>
        <input type="number" class="form-control" placeholder="Max. price" formControlName="maxPrice">
        <small
          *ngIf="form.controls.minPrice.errors?.min || form.controls.maxPrice.errors?.min" 
          class="text-danger">
          Price must be a positive number
        </small>
      </div>
    </div>

    <div class="form-group large-control col-auto">
      <div>
        <label for="filter-year-range">Year Range:</label>
      </div>
      <div id="filter-year-range" class="input-group" role="group">
        <input type="number" class="form-control" placeholder="Min. year" formControlName="minYear" min=1950>
        <input type="number" class="form-control" placeholder="Max. year" formControlName="maxYear">
        <small 
          *ngIf="form.controls.minYear.errors?.min || form.controls.maxYear.errors?.min" 
          class="text-danger">
          Year must be a positive number
        </small>
      </div>
    </div>
  </div>

</form>
