<form [formGroup]="form">
  <div class="form-group">
    <div>Sort By:</div>
  
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" value="price" id="sort-price" name="sortBy" formControlName="sortBy" >
      <label class="custom-control-label" for="sort-price">Price</label>
    </div>
    
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" value="year" id="sort-year" name="sortBy" formControlName="sortBy" >
      <label class="custom-control-label" for="sort-year">Year</label>
    </div>
  </div>
</form>