<div id="edit-branches" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button #close type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="branch-name" formControlName="name" >
              <div class="input-group-append">
                <button type="submit" class="input-group-text">
                  <i class="bi bi-plus-circle text-primary"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
        <ul class="list-group">
          <li *ngFor="let branch of branches" class="list-group-item d-flex align-items-center py-0 pr-0">
            <div class="mr-auto">{{ branch.name }}</div>
            <i (click)="onDelete(branch.id)" class="bi bi-x-circle text-danger btn icon-btn btn-lg px-2"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>