<div id="edit-branches" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button #close type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul class="list-group">
        <li *ngFor="let branch of branches" class="list-group-item">{{ branch.name }}</li>
      </ul>
    </div>
  </div>
</div>